/*====== Start creating My own Framework for some repeated styles(Main Rulez) ======*/

/* CSS Variables */
:root {
  --primary: #ddd;
  --dark: #333;
  --light: #fff;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--dark);
}

body {
  background-color: #ccc;
  margin: 30px 5px;
  line-height: 1.4;
}

.btn {
  background-color: var(--dark);
  color: var(--light);
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  border: 0;
}

img {
  max-width: 100px;
}

.wrapper {
  display: grid;
  grid-gap: 20px;
}

/*====== End Framework ======*/

/*====== End Navigation ======*/

.main-nav ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 0;
  list-style: none;
}
.main-nav a {
  background-color: var(--primary);
  display: block;
  text-decoration: none;
  padding: 0.8rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.1rem;
  color: var(--dark);
  box-shadow: var(--shadow);
}

.main-nav a:hover {
  background-color: var(--dark);
  color: var(--light);
}

/*====== End Navigation ======*/
